.precomp
*/.precomp
.directory
*.xsl
*.log
Old/*
t/Travis-ci/*.tgz
tests/Pencil*
markdown-refs.md

docs-old/*
docs/_site/
docs/vendor/
docs/.gitignore
Gemfile.lock
_site
.sass-cache
.jekyll-metadata
.bundle/
