/* Run glib-compile-resources resources/g-resources/QAManager.xml */

@define-color regular-text-color #005050;
@define-color label-text-color #0060af;
@define-color title-text-color #0060af;
@define-color description-text-color #00507f;
@define-color message-text-color #00507f;
@define-color -text-color #00507f;

@define-color field-normal-color #00eeee;
@define-color field-ok-color #00ff44;
@define-color field-fail-color #dd4400;



.QAStatusNormal {
/*  border-color: @field-normal-color;*/
  border-width: 1px;
}

.QAStatusOk {
  border-width: 1px;
}

.QAStatusFail {
  border-color: @field-fail-color;
  border-width: 1px;
}

.QATextView.QAStatusFail {
  background-color: @field-fail-color;
}


/*
  frame
  ├── border[.flat]
  ├── <label widget>
  ╰── <child>
*//*
.QAFrame label {
	color: @title-text-color;

  font-variant: small-caps;
  font-style: normal;
  font-weight: bolder;
  font-stretch: semi-expanded;
}

.QARadioButton label {
	color: @label-text-color;

  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

.QACheckButton label {
	color: @label-text-color;

  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
font-size: medium;
}

.QAStatusbar {
	background-color: #cccccc;
}

.QAStatusbar frame {
  margin: 0 0 0 0;
}

.QAStatusbar label {
	color: #000000;

  font-variant: normal;
  font-style: normal;
  font-size: smaller;
}

.QALabel {
	color: @label-text-color;

  font-variant: normal;
  font-style: normal;
  font-weight: initial;
  font-stretch: normal;
}
*/

/*
.descriptionText {
	color: @description-text-color;

  font-variant: normal;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.regularText {
	color: @regular-text-color;
}

.messageText {
	color: @message-text-color;

  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
*/
